
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dancing+Script:wght@400..700&family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');

.navbar{
    background-image: linear-gradient(to bottom, #663399, #330066);
}

.nav-link{
    transition: baackground-color 0.3s;
    color: aliceblue;
    position: relative;
}
.nav-link:hover{
    color: antiquewhite;
}

.nav-link::before{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: beige;
    transition: width 0.3s;
}

.nav-link:hover:before{
    width: 100%;
}

.navbar-toggler {
    background-color: #ffffff; 
  }

 .container {
    margin-top: 80px;
  }
  .text-section {
    display: flex;
    align-items: center;
  }
  .home,h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 54px;
  }
  .home,p{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
  }
  .image-section img {
    max-width: 100%;
    height: auto;
  }

  .btn-container {
    margin-top: 20px;
  }
  .btn-container .btn {
    margin-right: 10px;
    background-color: #663399;
    color: aliceblue;
  }

  .btn-container .btn:hover{
    color: gainsboro;
  }

  .about-section{
    padding: 60px 0 ;
    /* background-color: #f9f9f9; */
  }

  .about-section .content{
    display: flex;
    align-items: center;
  }

  .about-section .text-section{
    margin-top: 30px;
  }
  .about-section h2{
    font-family: 'Concert one', cursive;
    font-size: 34px;
  }
  .about-section p{
    font-family: 'EB Garamond', serif;
    font-weight: 200;
  }

  .about-section img {
    max-width: 100%;
    height: auto;
  }

  .social-links{
    margin-top: 20px;
  }
  .social-links a{
    margin-right: 15px;
    color: #333;
    font-size: 30px;
  }

  .skills-section{
    padding: 60px 0;
    text-align: center;
  }

  .skills-section h2{
    margin-bottom: 40px;
    font-family: 'Concert one', cursive;
    font-size: 34px;
  }

  .skills{
    margin: 15px;
  }
  .skill i, .skill .iconify{
    font-size: 98px;
    margin-bottom: 10px;
  }
  .skill-label{
    font-size: 18px;
    font-weight: bold;
  }

  .certificate img, .project img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .project-description {
    font-size: 16px;
    color: #333;
    margin-top: 10px;
  }

  projects-section {
    padding: 60px 0;
    background-color: #f8f9fa;
  }
  .projects-section h2 {
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Concert one', cursive;
    font-size: 34px;
  }
  .projects-section h5{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
    font-weight: bold;
  }
  .card {
    margin: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  .card:hover {
    transform: scale(1.05);
  }
  .card-img-top {
    height: 200px;
    object-fit: cover;
  }
  .card-body {
    padding: 15px;
  }
  .card-text {
    font-size: 16px;
  }

  .resume-section {
    padding: 60px 0;
    background-color: #f8f9fa;
    text-align: center;
  }
  .resume-section h2 {
    margin-bottom: 40px;
    font-family: 'Concert one', cursive;
    font-size: 34px;
  }
  .resume-button {
    margin: 15px;
  }
  .resume-button a {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
  }
  .resume-button a:hover {
    text-decoration: underline;
  }
  .resume-icon {
    font-size: 24px;
    margin-right: 8px;
  }

  .contact-section {
    padding: 60px 0;
    background-color: #f0f2f5;
  }
  .contact-section h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #333;
    font-family: 'Concert one', cursive;
    font-size: 34px;
  }
  .contact-form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .form-control {
    border-radius: 4px;
    border-color: #ced4da;
  }
  .form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 .2rem rgba(38, 143, 255, 0.25);
  }
  .form-group {
    margin-bottom: 20px;
  }
  .btn-submit {
    background-color: #007bff;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  .btn-submit:hover {
    background-color: #0056b3;
  }
  .contact-info {
    margin-top: 20px;
    text-align: center;
  }
  .contact-info a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
  }
  .contact-info a:hover {
    text-decoration: underline;
  }
  .contact-info i {
    font-size: 24px;
    margin-right: 10px;
  }

  .footer {
    background-color: #663399;
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
  }
  /* .footer ,p{
    font-family: 'Dancing Script', cursive;
  } */
  .footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
  }
  .footer a:hover {
    text-decoration: underline;
  }
  .footer .social-icons {
    margin-top: 20px;
  }
  .footer .social-icons a {
    font-size: 24px;
    color: #ffffff;
    margin: 0 10px;
  }
  .footer .social-icons a:hover {
    color: #007bff;
  }

  .testimonials-section {
    background: #f9f9f9;
    padding: 40px 0;
}

.testimonials-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.blockquote {
    background: #fff;
    border-left: 5px solid #663399;
    padding: 20px ;
    margin: 20px 0  ;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blockquote-footer {
    font-size: 1em;
    color: #333;
    margin-top: 10px;
}

/* Blog Section Styles */
/* Blog Section Styles */
.blog-section {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.blog-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: 'Concert one', cursive;
  font-size: 34px;
}

.blog-post {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
  height: 100%;
  margin-bottom: 30px;
}

.blog-post img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.blog-post h3 {
  font-size: 24px;
  margin: 16px;
  font-family: 'Dancing Script', cursive;
  font-weight: 700;
  font-size: 24px

}

.blog-post p {
  flex-grow: 1;
  padding: 0 16px;
  font-size: 16px;
  color: #555;
  font-family: 'EB Garamond', serif;
  font-weight: 200;

}

.blog-post .btn {
  margin: 16px;
  padding: 10px 20px;
  background-color: #663399;
  color: #fff;
  border: none;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.blog-post .btn:hover {
  background-color:#330066;
}

.blog-post:hover {
  transform: translateY(-10px);
}

.blog-post .btn {
  align-self: flex-start;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .blog-post {
      margin-bottom: 30px;
  }
}

/* Roadmap Section Styles */
.roadmap-section {
  padding: 60px 0;
  background-color: #f1f1f1;
}

.roadmap-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: 'Concert one', cursive;
    /* font-size: 34px; */
}

.roadmap-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.roadmap-item h3 {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: 'Concert one', cursive;
    font-size: 34px;
}

.roadmap-item p {
  font-size: 16px;
  color: #555;
  font-family: 'EB Garamond', serif;
  font-weight: 200;

}

.roadmap-item:hover {
  transform: translateY(-10px);
}

/* Resources Section Styles */
.resources-section {
  padding: 60px 0;
  background-color: #e9ecef;
}

.resources-section h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
  font-family: 'Concert one', cursive;

}

.resource-link {
  display: block;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
  transition: background-color 0.3s ease;
}

.resource-link:hover {
  background-color: #f8f9fa;
}

